<nav class="bottom-nav">
  <a class="bottom-nav__destination"  routerLink="">
    <span class="bottom-nav__label">Map</span>
  </a>

  <a class="bottom-nav__destination" routerLink="/challengeMap">
    <span class="bottom-nav__label" >Challenges</span>
  </a>

  <a class="bottom-nav__destination" routerLink="/voting">
    <span class="bottom-nav__label" >Voting</span>
  </a>

  <a class="bottom-nav__destination" routerLink="/profile">
    <span class="bottom-nav__label" >Profile</span>
  </a>
</nav>
