.icon-person {
  font-size: 200px;
  height: 200px ;
  width: 200px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #777777;
  color: white;
}

.text-label
{
padding: .3rem;
}

.point-label{
  height: 100px;
  width: 200px;
}


